---
import { getUsers } from "../../backend/db";
let name;
let location;
try {
  const users = await getUsers("kyrstine papenfus");
  console.log(users);
  name = users.rows[0].name;
  location = users.rows[0].location;
} catch (error) {
  console.log(error);
}
---

<!-- <Layout title="Welcome "> -->
<main class="bg-blue-400 w-full h-screen">
  <div class="">{name}</div>
  <div class="">{location}</div>
</main>
<!-- </Layout> -->
